
/*----------------------------------------------------------------------------*/
@-webkit-keyframes red {
  from {left: 0px;}
  to {left: 200px;}
}

@-webkit-keyframes green {
  from {right: : 0px;}
  to {right: 200px;}
}
@-webkit-keyframes yellow {
  from {bottom-left: 0px;}
  to {top-right: 200px;}
}

@-webkit-keyframes black {
  from {right: : 0px;}
  to {right: 200px;}
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 200%, 0); }
}

@keyframes bounce-down-left {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(400px, -200%, 0); }
}

@keyframes bounce-down-right {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(-400px, -200%, 0); }
}


.circ-left-up{

	position: absolute;
	height: 200px;
	width: 200px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
  /*
  -webkit-animation-name: bounce;
  animation: red 5s infinite;*/


  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;

}

.circ-right-up{

	position: absolute;
	
	height: 200px;
	width: 200px;
	background-color: green;
	border-radius: 50%;
	right: 0;
	animation: green 5s infinite;

  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}

.circ-left-down{

	position: absolute;
	height: 200px;
	width: 200px;
	background-color: yellow;
	border-radius: 50%;
	display: inline-block;
	bottom: 0;
	animation: yellow 5s infinite;

  animation: bounce-down-left 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}

.circ-right-down{

	position: absolute;
	
	height: 200px;
	width: 200px;
	background-color: black;
	border-radius: 50%;
	bottom: 0;
	right: 0;
	animation: black 5s infinite;

  animation: bounce-down-right 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}




