img{
	max-width: 500px;
}

header{
	background-color: #5555;
	display: flex;
	justify-content: flex-start;

}

header h2{
	font-size: 50px;
}

table{
	border: solid red;

}
table td{
	position: center;
	border: solid black;
	width: 80px;
}
.menu ul{
	list-style: none;

	border: solid red;
}

.menu ul li a{
	list-style-type: none;
	color: red;
	color: inherit;

}


ol li{
	list-style-position: inside;
	color: red;
}