body{
	background-color: gray;
}

li {
	list-style-type: none;
}

.grande{
	width: 40%;
	position: relative;
	visibility: hidden;

}

a:hover .image2{
	visibility: visible;
}

.peque{
	width: 25%;
}

